section.slide.backstopjs_header-sub2
	h2.shout DEMO

section.slide
	h2 BackstopJS

	br
	ul
		li.next Быстро настраивается
		li.next Тестирование отдельных блоков
		li.next Выполнение сценариев пользователя через Casper JS или ChromyJS
		li.next CI интеграция