//- section.slide.black
//- 	img.cover(src="./img/light-title.jpg", alt="")
section.slide.black
	img.cover(src="./img/dark-title.jpg", alt="conference title")

section.slide.title_header.black
	img.title-img(alt="my-photo" src="/img/lemurFace.png")
	h2 Visual regression testing 
		br 
		| with BackstopJS.
	h3 Catch CSS curve balls.



section.slide.centr-align
	h2 Всем привет!

	.half
		ul(style="font-size: 30px; line-height: 1.4;")
			li.next(style="margin-bottom: 22px;") Меня зовут Саша
			li.next(style="margin-bottom: 22px;") Front-end разработчик в Astound commerce
			li.next(style="margin-bottom: 22px;") Кредо: "Действия громче чем слова"
			li.next(style="margin-bottom: 22px;") Люблю челенджи
			li.next Хобби: социальные танцы

	img(alt="my-photo" src="img/my-photo2.jpg" style="float:right; width: 42%; box-shadow: 0 0 7px #666;")


section.slide.centr-align
	h2 Agenda
	br
	p.next(style="font-size: 48px; margin-bottom: 6px; line-height: 1.5;") Зачем тестировать визуальные регресии
	p.next(style="font-size: 48px; margin-bottom: 6px; line-height: 1.5;") Почему BacksopJs
	p.next(style="font-size: 48px; margin-bottom: 6px; line-height: 1.5;") Настройка
	p.next(style="font-size: 48px; margin-bottom: 6px; line-height: 1.5;") DEMO
	//- p.next(style="font-size: 48px; margin-bottom: 6px; line-height: 1.5;") Проблемы тестирования и их решения