section.slide
	h2.shout История о баге

section.slide
	img.cover(src="/img/menu_normal.jpg", alt="menu_normal")

section.slide
	img.cover(src="/img/menu_bug.jpg", alt="menu_bug")

section.slide.galaxy_tab_slide
	img.cover(src="/img/galaxy_tab.jpg", alt="galaxy_tab")