
section.slide.black
	img.cover(src="./img/olsen_sisters.jpg", alt="")

section.slide.black
	img.cover(src="./img/Game-of-Thrones-Meslisandre-old-and-young.jpg", alt="")


section.slide
	h2 Зачем?
	p ¯_| ಠ ∧ ಠ |_/¯
	ul
		li.next У сайта много страниц и состояний для разных устройств
		li.next Большая команда и много новичков
		li.next Что-то поправил Back-end разработчик
		li.next Несколько файлов CSS на один сайт
		li.next Один CSS файл на несколько сайтов ( и такое бывает) (o_O)
		li.next Вы ведете курсы Front-End разработчиков